# Example environment variables for Assignment-7
NODE_ENV=development

DEV_DB_DIALECT=sqlite
DEV_DB_STORAGE=./database/music_library.db
DEV_DATABASE_URL=sqlite:./database/music_library.db

# production values (set NODE_ENV=production when deploying)
PROD_DB_DIALECT=sqlite
PROD_DB_STORAGE=./database/music_library.db
PROD_DATABASE_URL=sqlite:./database/music_library.db
